<html>
  <head>
    <title>We Out - Your place to find the hippest events near you!</title> 
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
    <link href="https://fonts.googleapis.com/css?family=Farro&display=swap" rel="stylesheet">
  
    <style>
      body{
        background: url(https://images.unsplash.com/photo-1491873751616-b0f5ce23c6fd?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
        background-color: #444;
      }
      .vertical-offset-100{
        padding-top:100px;
      }
      .panel {
        border: 0;
      }
      .panel-transparent {
        background-color: rgba(245, 245, 245, 0.4);
      }
      .panel-transparent .panel-heading{
        background: rgba(122, 130, 136, 0.2)!important;
      }
      .panel-transparent .panel-body{
        background: rgba(46, 51, 56, 0.2)!important;
      }
      h1 {
        background: url('img/tape.png') 0 0 repeat-x;
        color: white;
        font-family: 'Farro', cursive;
        font-size: 200%;
        animation: blur .75s
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
          <center><h1>Sign up today to find events near you!</h1></center>
            <div class="panel panel-primary panel-transparent">
              <div class="panel-body">
              <h1>
                <%= form_for @user do |f| %>
                  <div class="form-group">
                    <%= f.text_field :first_name, class: 'form-control', placeholder: "First Name" %>
                  </div>

                  <div class="form-group">
                    <%= f.text_field :last_name, class: 'form-control', placeholder: "Last Name" %>
                  </div>

                  <div class="form-group">
                    <%= f.text_field :username, class: 'form-control', placeholder: "Username" %>
                  </div>

                  <div class="form-group">
                    <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
                  </div>      

                  <% if flash[:errors] %>
                    <div class="alert alert-danger" role="alert">
                      <% flash[:errors].each do |error| %>
                        <li class="error"><%= error %></li>
                      <% end %>
                    </div>
                  <% end %>
                  </h1>
                  <h1> <%= f.submit "Create my free account", class: "btn btn-md btn-success btn-block" %> </h1>
                <% end %>
                <h1> <%= link_to "Return to log in", login_path, class: "btn btn-md btn-warning btn-block"%> </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>