<h1> Welcome <%=@user.first_name%> </h1>
<hr>
<%= button_to "Add an event", new_event_path, method: :get %>
<%= button_to "Remove an event", events_path, method: :get %> 
<%= button_to "Logout", logout_path, method: :delete %> 

<% if @current_user %>
    Logged In as <%= @current_user.to_s %>
<% end %>

<% if @user.events != [] %>
<h3>Your Events</h3>
    <ul>
        <% @user.events.each do |event| %>
            <li><%= link_to event.title, event_path(event) %></li>
        <% end %>
    </ul>
<% end %>
