<h1> <%= @event.title %> </h1>
<hr>
<%= @location.city%> <%= @location.state %> <br>
<%=@location.country%>
<p>
    <% if !@current_user.events.include?(@event) %>

        <%= button_to "I wanna go!", attendees_path, method: :post %>
    <% else %>
        You're going to this event already!
    <% end %>
</p>




